@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

$border-color: #BFBFBF;
$button-txt-color: #777;
$light-red: #C53E3E;
$dark-red: #B52524;
$light-grey: #EEE;
$dark-grey: #DDD;
$red-border: #681C1C;

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

a {
	color: $dark-red;
	text-decoration: none;
	outline: 0;
}

p {
	padding-top: 10px;
	padding-bottom: 10px;
}

h1, h2, h3, h4, h5 {
	padding-bottom: 1em;
	text-transform: uppercase;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background: #BBB;
	font-family: 'Raleway', sans-serif;
}

#redbar {
	background: #B11E1E;
	height: 10px;
}

#navigation {
	background: linear-gradient($light-grey, $dark-grey);
	padding: 0px;
	border-bottom: 2px solid $border-color;
}

#nav-inner {
	width: 1180px;
	margin: auto;
}

#nav-inner a {
	margin: 0px;
	float: left;
}

#after-nav {
	clear: both;
	height: 20px;
}

.button-icon {
	display: inline-block;
	padding-right: 20px;
	float: left;
	padding-top: 7px;
	img {
		width: 50px;
	}
}


.button-txt {
	font-size: 20px;
	color: $button-txt-color;
	display: inline;
	border-left: 1px solid $border-color;
	height: 70px;
	line-height: 70px;
	padding-left: 20px;
	padding-right: 20px;
	display: table-cell;
	vertical-align: center;
	margin: 0px;
	float: left;
}

.button-txt-last {
	border-right: 1px solid #BFBFBF;
}

.button-txt-selected {
	background: linear-gradient($light-red, $dark-red);
	border: 2px solid $red-border;
	color: #FFF;
}

#image-list {
	display: none;
}

#gallery-container {
	width: 1380px;
	height: 700px;
	margin: auto;
}

#gallery-arrow {
	width: 100px;
	float: left;
	display: table-cell;
	height: 100%;
	padding-top: 350px;
	text-align: center;
}

#gallery-arrow img {
	width: 50px;
}

#content {
	width: 1180px;
	background: $dark-grey;
	border: 2px solid $border-color;
	margin: auto;
	padding: 20px;
}

#system-message {
	width: 500px;
	padding: 10px;
	text-align: center;
	border: 1px solid $dark-red;
	background: $light-grey;
	color: $dark-red;
	margin: auto;
	margin-bottom: 20px;
}

#content #image {
	width: 250px;
	height: 250px;
	text-align: center;
	float: left;
	margin-top: 40px;
}

#content #image a div {
	display: inline;
	padding: 5px;
	background: #955;
	color: #EEE;
	border-radius: 10px;
	margin: 5px;
}

#content #image a div img {
	max-height: 150px;
}

#home-top {
	height: 60%;
}

#home-img {
	width: 40%;
	background: $dark-grey;
	float: left;
}

#home-img img {
	width: 90%;
}

#home-content {
	width: 60%;
	float: left;
	font-size: 22px;
}

#home-bottom {
	clear: both;
}

#home-contact {
	width: 60%;
	float: right;
}

#home-contact input, #home-contact textarea {
	width: 100%;
	background: linear-gradient(#FFF,#EEE);
	padding: 0.5em;
	border: 2px solid $border-color;
	margin-top: 1em;
}

#home-contact textarea {
	height: 100px;
}

#home-contact input[type=submit] {
	width: auto;
	float: right;
}

#small-categories {
	padding-bottom: 2em;
	a {
		div {
			display: inline;
			float: left;
			padding: 10px;
			border-top: 1px solid $border-color;
			border-bottom: 1px solid $border-color;
			border-left: 1px solid $border-color;
			margin: 0px;
			background: linear-gradient($light-grey,$dark-grey);
			color: $button-txt-color;
			text-transform: uppercase;
		}
		#last {
			border-right: 1px solid $border-color;
		}
		.selected {
			background: linear-gradient($light-red, $dark-red);
			border: 2px solid #681C1C;
			color: #FFF;
		}
	}
}

#content #course {
	width: 250px;
	height: 250px;
	border: 1px solid $border-color;
	text-align: center;
	float: left;
	margin-top: 40px;
}

#content #course img {
	max-height: 150px;
}

#content #course a div {
	display: inline;
	padding: 5px;
	background: #955;
	color: #EEE;
	border-radius: 10px;
	margin: 5px;
}

#carousel {
	clear: both;
	width: 1000px;
	height: 600px;
	margin: auto;
	text-align: center;
	margin-top: 2em;
}

#carousel div {
	width: 100%;
	height: 100%;
	background-size: auto 85%;
	background-repeat: no-repeat;
	background-position: center;
	outline: none;
}

#carousel h4 {
	text-transform: uppercase;
	background: #000;
	color: #FFF;
	padding-top: 5px;
	padding-bottom: 5px;
	opacity: 0.8;
}

#carousel div {
	text-align: center;
	width: 100%;
	height: 100%;
}

#lightbox-layover {
	background: #000;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}

#lightbox-scroller {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;
	text-align: center;
	padding: 20px;
}

#lightbox-scroller img {
	max-width: 90%;
	max-height: 150%;
}

#course-item {
	clear: both;
	margin-bottom: 2em;
	#left {
		width: 30%;
		float: left;
		img {
			width: 90%;
			max-height: 200px;
		}
	}
	#right {
		width: 70%;
		float: left;
		padding-left: 20px;
		a #title {
			text-transform: uppercase;
			padding-bottom: 1em;
			color: #000;
			font-size: 22px;
		}
		#description {
			color: #444;
		}
	}
}

#social-items {
	font-size: 1.2em;
	p {
		padding-bottom: 1em;
	}
	ul {
		margin-left: 0px;
		padding-left: 0px;
		list-style: none;
		li {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	#left {
		width: 50%;
		float: left;
	}
	#right {
		width: 50%;
		float: left;
	}
}

#footer {
	clear: both;
	background: linear-gradient($light-grey, $dark-grey);
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}



